.container {
  margin: auto 0;
  position: relative;
  top: 90px;
}
.body {
  width: 70%;
  min-height: calc(100vh - 160px);
  margin: 0 auto;
  position: relative;
  display: flex;
  margin-bottom: 200px;
}
.content {
  flex: 1;
}
.tree {
  width: 260px;
}
